---
---
<section id="experiencia" class="md:pt-16 py-6 md:pb-16 md:px-0 px-3 to-transparent section  relative">   
    <span style="transform: rotate(-10deg);" class="absolute w-[200px] h-[250px] lg:h-[200px] lg:w-[250px] rounded-full bg-gradient-to-tr from-luz to-luz1 from-[#00ff00] to-[#00fff2] opacity-10 blur-2xl right-20 top-0 lg:top-0">

    </span>
   
    <div class="space-y-30 "> 
        <section id="experiencia" data-section="experiencia" class="bg-gradient-to-t from-[#ffffff0c] to-transparent section undefined p-7 rounded-3xl scroll-m-20 w-full mx-auto container lg:max-w-5xl border border-white/5  md:max-w-2xl">  
            <h2 class=" flex items-center mb-6 md:text-4xl text-2xl font-semibold gap-x-3 text-white font1 undefined">  
                <svg class="size-10 text-[#ffd900]" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                    <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
                    <path d="M12 12l0 .01"></path>
                    <path d="M3 13a20 20 0 0 0 18 0"></path>
                </svg>
                Experiencia laboral
            </h2> 
            <ol class="relative mt-16 ">           
                <li class="font3">                 
                    <div class="relative md:mx-12  ms-10 me-2 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"> 
                        <div class="relative pb-12 md:col-span-2"> 
                            <div class="sticky top-0">
                                <span class="text-yellow-400 -left-[42px] absolute rounded-full text-6xl">
                                    •
                                </span> 
                                <h3 class="font1 text-1xl md:text-xl  text-yellow-400">Instituto de Investigación, Interacción Social y Posgrado </h3> 
                                <h4 class=" text-xl text-gray-600 dark:text-white">Desarrollador FullStack </h4> 
                                <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                                    Agosto 2023 – Febrero 2025
                                </time> 
                            </div> 
                        </div> 
                        <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"> 
                            Diseñé e implementé el sitio web institucional, facilitando el acceso a convocatorias, 
                            publicaciones y servicios de cursos y talleres con respaldo de certificados para la comunidad 
                            universitaria y público en general.
                            <span class="text-[#868686]"> </span>
                            Desarrollé e implementé un sistema digital para el seguimiento de la modalidad de graduación de 
                            universitarios, optimizando el registro, control y validación de procesos administrativos y académicos. 
                           
                        </div> 
                    </div> 
                </li>
                <li class="">    
                    <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
                        <img 
                            src="assets/img/metas1.png" 
                            alt="Imagen decorativa" 
                            class="absolute w-45 h-50 opacity-20" 
                            style="bottom: 0; left: 8%; "
                        />
                    </div>
                    <div class="relative md:mx-12  ms-10 me-2 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">                   
                        <div class="relative pb-12 md:col-span-2">                   
                            <div class="sticky top-0">                         
                                <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">
                              
                                    •                           
                                </span>                            
                                <h3 class="text-1xl md:text-xl  font1 text-yellow-400">Trabajo Remoto </h3>                           
                                <h4 class="font3 text-xl text-gray-600 dark:text-white">FrontEnd Architect</h4>                  
                                <time class="font3 p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">Mayo 2024 – Actualidad</time>                        
                            </div>                    
                        </div>              
                        <div class="font3 relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">                    
                            Desarrollé e implementé soluciones de Ecommerce para las empresas Shikey Chilo's, Comercial 
                            Cano y Comercial Credimotos, optimizando sus procesos de venta en línea y aumentando la visibilidad de sus productos. Aumentado sus ventas un 25%  
                            <span class="text-[#868686]"> </span>
                            Diseñé e Implementé contenido visual para las redes sociales para varias empresas, optimizando la 
                            presencia online y promoviendo sus productos y servicios de manera efectiva. 
                            <span class="text-[#868686]"> </span>
                            Brindé soporte técnico y asistencia a participantes durante talleres y cursos de programación, 
                            ayudando a resolver problemas técnicos y guiando a los estudiantes en el desarrollo de sus 
                            proyectos. 
                
                        </div>                 
                    </div>            
                </li>         
            </ol>     
        </section> 
    </div>
</section>