---
import { Icon } from "astro-icon/components";
---
<footer class="w-full bg-gradient-to-t from-[#012746] to-transparent text-center py-4 border border-white/5 rounded-t-2xl shadow-[0_-2px_5px_rgba(0,0,0,0.1)]">
  <div class="flex flex-col items-center">
    <img src="assets/img/logop.jpg" alt="Logo" class="w-15 h-15 border-2 border-white rounded-full   mb-2" />
    <p class="font2 font-bold text-3xl text-white py-1">
        Dr. Pantuflas.Dev
    </p>
    <div class="flex justify-center gap-4 mt-2 text-2xl">
      <a href="https://wa.me/your-number" target="_blank" aria-label="WhatsApp" class="hover:scale-110 transition-transform">
        <Icon name="whatsapp" class=" size-9" />
      </a>
      <a href="https://t.me/your-username" target="_blank" aria-label="Telegram" class="hover:scale-110 transition-transform">
        <Icon name="telegram" class="bg-blue-400 rounded-full size-9" />
      </a>
      <a href="https://github.com/your-username" target="_blank" aria-label="GitHub" class="hover:scale-110 transition-transform">
        <Icon name="github" class="text-white bg-dark rounded-full   size-9" />
      </a>
    </div>
  </div>
</footer>
